Repository IMS-Group-3/IntelligentMobileSystem, pull requests merged in 2023-05, with the labels that each got.

#92 Create IMS-pozyx.ino
  Mower/Pozyx/IMS-pozyx.ino
Labels: Mower

#90 Subscribe to MQTT service
  Mower/MQTT/mower_subscribe_mqtt.py
Labels: Mower, Backend

#87 [Created] an enpoint to handle path and positions
  Back-End/web-app/backend-db.db
  Back-End/web-app/backend.db
  Back-End/web-app/package-lock.json
  Back-End/web-app/package.json
  Back-End/web-app/src/app.js
  Back-End/web-app/src/db.js
  Back-End/web-app/src/endpoints/path.js
  Back-End/web-app/src/main.js
Labels: Backend

#58 Serial connection of mower computers
  Mower/Serial/dual_serial.py
  Mower/Serial/serial_communication.py
Labels: Mower

#56 Camera module now configured
  Mower/Camera/piCamera.py
  Mower/Camera/pi_base64.py
Labels: Mower

#57 Re-upload of BLE code
  Mower/BLE/IMS_BLE_Service.py
  Mower/BLE/ble_peripheral.py
Labels: Mower

#113 Image handling
  Back-End/web-app/backend-db.db
  Back-End/web-app/package.json
  Back-End/web-app/src/app.js
  Back-End/web-app/src/component/api-key.json
  Back-End/web-app/src/component/google-api.js
  Back-End/web-app/src/db.js
  Back-End/web-app/src/decodedImages/test.txt
  Back-End/web-app/src/endpoints/image.js
  Back-End/web-app/src/endpoints/path.js
  Back-End/web-app/src/main.js
Labels: Backend

#115 Geremy backend
  Back-End/web-app/src/app.js
  Back-End/web-app/src/endpoints/controlCommand.js
Labels: Backend
